<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Listing Gyms</h1>

  <table class="table table hover">
    <thead>
      <tr>
        <th class="thead">Name</th>
        <th class="thead">Address</th>
      </tr>
    </thead>

    <tbody>
      <% @gyms.each do |gym| %>
        <tr>
          <td><%= link_to gym.name, gym_path(gym.id) %></td>
          <td><%= gym.address %></td>
          <td><%= link_to 'Show', gym %></td>
          <td><%= link_to 'Edit', edit_gym_path(gym) %></td>
          <td><%= link_to 'Destroy', gym, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Gym', new_gym_path %>
</div>