<div class="container">

<h1>Workouts for the day</h1>
<h3><%= @display_date %></h3>
<h3><%= @display_time %></h3>
<br>
<br>
<div class="workout-nodes">
<div class="workout chest col-lg-6 .col-xs-6 .col-sm-4">
	<h4>Chest</h4>
	<h4><%= @workouts['chest'] %></h4>
</div>
<div class="workout shoulders col-lg-6 .col-xs-6 .col-sm-4">
	<h4>Shoulders</h4>
	<h4><%= @workouts['shoulders'] %></h4>
</div>
<div class="workout back col-lg-6 .col-xs-6 .col-sm-4">
	<h4>Back</h4>
	<h4><%= @workouts['back'] %></h4>
</div>
<div class="workout legs col-lg-6 .col-xs-6 .col-sm-4">
	<h4>Legs</h4>
	<h4><%= @workouts['legs'] %></h4>
</div>
<div class="workout arms col-lg-6 .col-xs-6 .col-sm-4">
	<h4>Arms</h4>
	<h4><%= @workouts['arms'] %></h4>
</div>
</div>
</div>

<script type="text/javascript">
	var greatest = 0;
	var greatest_class = ''
	var is_tied = []
	var sortable = [['chest', "<%= @workouts['chest'] %>"], ['shoulders', "<%= @workouts['shoulders'] %>"],['back', "<%= @workouts['back'] %>"],['arms', "<%= @workouts['arms'] %>"],['legs', "<%= @workouts['legs'] %>"]];

	console.log(sortable)
	sortable.sort(function(a, b) {return b[1] - a[1]})

	for (var i=0; i<sortable.length; i++){
		console.log('loops')
		if (sortable[i][1] == 0) {
			console.log('uhhhh')
		} else if (sortable[i][1] > greatest){
			greatest = sortable[i][1];
			is_tied.push(sortable[i][0]);
		} else if (sortable[i][1] == greatest) {
			is_tied.push(sortable[i][0]);
		}
	}
	// if ("<%= @workouts['chest'] %>" > greatest) {
	// 	greatest = "<%= @workouts['chest'] %>"
	// 	greatest_class = "chest"
	// }
	// if ("<%= @workouts['shoulders'] %>" > greatest) {
	// 	greatest_class = "shoulders"
	// 	greatest = "<%= @workouts['shoulders'] %>"
	// }
	// if ("<%= @workouts['back'] %>" > greatest) {
	// 	greatest_class = "back"
	// 	greatest = "<%= @workouts['back'] %>"
	// }
	// if ("<%= @workouts['legs'] %>" > greatest) {
	// 	greatest_class = "legs"
	// 	greatest = "<%= @workouts['legs'] %>"
	// }
	// if ("<%= @workouts['arms'] %>" > greatest) {
	// 	greatest_class = "arms"
	// 	greatest = "<%= @workouts['arms'] %>"
	// }
	console.log(is_tied)
	console.log('about to loop')
	for (var j=0; j<is_tied.length; j++){
		console.log('oops')
		$('.'+ is_tied[j]).addClass('yolo')
	}
</script>
