<div class="container">
	<p id="notice"><%= notice %></p>

	<h1><%= @gym.name %></h1>
	<ul>
		<% @gym_schedules.each do |gym| %>
			<li><%= gym %></li>
		<% end %>
	</ul>

	<%= link_to 'Edit', edit_gym_path(@gym) %> |
	<%= link_to 'Back', gyms_path %>
</div>