<!DOCTYPE html>
<html>
<head>
  <title>Beefhead</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="login"><% if current_user %>
  <span><span class="nav-link">Signed in as <%= current_user.name %></span> | <%= link_to "Logout", '/logout', :class => 'nav-link'%></span>
<% else %>
  <span><%= link_to 'Login', '/login', :class => 'nav-link' %> | <%= link_to 'Signup', '/users/new', :class => 'nav-link' %></span>
<% end %></div>
<br>
<br>
<%= yield %>

</body>
</html>
